*{
     padding:0px;
     margin:0;
     box-sizing: border-box;
 }
 body{
     background-image:url(./images/photo-1550684376-efcbd6e3f031.jpg)
 }
 .Hero{
     height:100vh;
     width:100%;
     background-image: url(./images/photo-1550684376-efcbd6e3f031.jpg);
     background-size:cover;
     background-position:center;
 }
 .logo{
     color:red;
     font-size:35px;
     letter-spacing:1px;
     cursor:pointer;
 }
 .btn{
    background-color:#f9004d;
    color:white;text-decoration:none;
    border:2px solid transparent;
    font-weight:bold;
    padding:10px 25px;
    border-radius:30px;
    transition:transform.4s;

 }
 .btn:hover{
     transform:scale(1.1);
}
 span{
     color:rgb(10, 26, 250);
 }
 .nav{
     display:flex;
     align-items:center;
     justify-content:space-between;
     padding-top:45px;
     padding-bottom:8%;
     padding-right:8%;
 }
 ul li{
     display: inline-block;
     padding:10px 30px;
 }
 
     ul li a{
         color:white;
         text-decoration:underline;
      }
      ul li a:hover{
          color:rgb(187, 55, 14)
      }
      .content{
          position:absolute;
          top:50%;
          left:8%;

      }
      h1{
          color:white;
          margin:20px 0 20px 0;font-size:70px;

      }
      h3{
          color:white;
          font-size:25px;

        }
        h4{
            color:rgb(209, 179, 179);
            font-size:20px;
            letter-spacing:2px;
        }
.newsletter form{
          width:400px;
          max-width:100%;
          position:relative;

        }
        .newsletter form input:first-child{
            width:100%;
          display:inline-block;
          padding:14px 130px 14px 15px;
          border:2px solid#f90084d6;
          border-radius:30px;
        }
        .newsletter form input:last-child{
            position:absolute;
            display:inline-block;
            border:none;
            border-radius:30px;
            padding: 10px 30px ;
            background-color:#f9004d;
            color:white;
            top:6px;
            right:6px;   
        }
        .fa{
        position:absolute;
            padding:10px;
            text-align:center;
            margin:2px 2px;
            font-size:30px;
            width:50px;
        
        }
        .fa-facebook{
            background:#3b5998;
            color:white;
        }
        .fa-twitter{
            background:#55ACEE;
            color:white;
            }
        .fa-google{
            background:#dd4b39;
            color:white;
        }
        .fa-instagram{
            background:#12568988;
            color:white;
        }
